@font-face {
    font-family:exo 2;
    src: url(../../../public/fonts/Exo_2/static/Exo2-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family:exo 2;
    src: url(../../../public/fonts/Exo_2/static/Exo2-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: inter;
    src: url(../../../public/fonts/Inter/static/Inter_18pt-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: inter;
    src: url(../../../public/fonts/Inter/static/Inter_18pt-Bold.ttf);
    font-weight: 700;
}