@mixin flexclmn {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

@mixin flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@mixin flexcenter{
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flexmiddle{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fontfamily1{
    font-family:'exo 2',monospace;
    font-weight: 400;
    h1{
        font-weight: 700;
    }
}


@mixin fontfamily2{
    font-family:'inter',monospace;
    font-weight: 400;
    h4{
        font-weight: 700;
    }
}

@mixin btn-primary{
    padding: 0.2rem 1.1rem;
    background-color: $primary;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border-color: transparent;
}

@mixin borderbox{
    border: 1px solid $gray;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: small;
    font-weight: bold;
    h3{
        font-size: small;
    }
    margin-bottom: 1rem;
}

@mixin btn-action{
    width: 6rem;
    height: 2rem;
    background-color: $primary;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border-color: transparent;
}
