$primary: #54C1AD;
$secondary: #FDBF46;
$thirdy: #F06A6D;
$dark: #1C1D22;
$gray: #00000080;
$bg-sidebar: #1C1D22;
$bg-page: #FFFFFF;




$color :(
    "primay":$primary,
    "secondary":$secondary,
    "thirdy":$thirdy,
    "dark":$dark,
    "gray":$gray,
    "bg-sidebar":$bg-sidebar,
    "bg-page":$bg-page
);







